/* .dashboard-container {
    background-color: #FFFFFF;
} */
.bg-light {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
}
.dashboard .navbar{
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.navbar-items span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000015;
}

.avatar {
    position: relative;
    bottom: 8px;
}
.drop-down-icon {
    margin-left: 25px;
}

.dashboard-container .sidebar{
    background: #FAFAFC;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
}

.dashboard-container h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.dashboard-container p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.dashboard-container .content {
    background: #FAFAFC;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 40px;
}
.nav-fill .nav-item, .nav-fill>.nav-link {
    flex: 1 1 auto;
    text-align: left;
    margin-bottom: 30px;
}

@media (max-width: 990px) {
    .form-floating {
        margin-left: 0px;
    }
}

.content-seperator {
    border-bottom: 1px solid#E4E6EB;
}

.total-transaction-card {
    width: 318px;
    height: 160px;

    background: #EAFFF2;
    border: 1px solid #ACFFCC;
    border-radius: 8px;
}

.total-transaction-card h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 27px;


    color: #000015;
}

.total-transaction-card p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.total-transaction-card .items {
    padding: 25px;
}

.transaction-icon {
    background-color: #2DD4BF;
    width: fit-content;
}

.empty-transaction img{
    margin: auto;
    display: block;
}

.empty-transaction p{
    text-align: center;
}