.input-field {
    margin-left: 10px;
    width: 380px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1.1rem;
    appearance: none;
}
.input-border-recipient {
    width: 400px;
    height: 67px;
    border: 1px solid #E2E4E8;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 30px; 
}

@media (max-width: 978px) {
    .input-border-recipient {
        width: auto;
        height: 67px;
        border: 1px solid #E2E4E8;
        box-sizing: border-box;
        border-radius: 12px;
        margin: 5px 15px;
    }
}

@media (max-width: 978px) {
    .input-field {
        margin-left: 10px;
        width: -webkit-fill-available;
        border: none;
        outline: none;
        font-weight: bold;
        font-size: 1.1rem;
        appearance: none;
    }
}
.send-form{
    width: 464px;
    height: auto;
    background-color: #FFFF;
    box-sizing: border-box;
    box-shadow: 0px 23px 44px rgba(176, 183, 195, 0.14);
    border-radius: 8px;
    padding-top: 40px;
}
.border-account-name{
    width: 400px;
    height: 80px;
    border: 1px solid #E2E4E8;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #EEF1F8;
}
@media (max-width: 978px) {
    .border-account-name{
        width: auto;
        height: 80px;
        border: 1px solid #E2E4E8;
        box-sizing: border-box;
        border-radius: 12px;
        margin: 15px 15px;
        background-color: #EEF1F8;
    }
}
.border-account-name p {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.1rem;
}
.send-btn .btn-primary{
    width: 384px;
    height: 56px;       
    background-color: #003399;
    margin-left: 40px;
    border-radius: 8px;
}
.select-fiat {
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: bold;
    position: absolute;
    margin-top: 4px;
    width: 100px;
}
.select-bank {
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 18px;
}



@media (max-width: 978px) {
    .select-bank {
        font-size: 15px;
    }
}

.recipient-seperator {
    margin-top: 0px;
    border-bottom: 1px solid #000015;
    opacity: 0.07;
    /* margin-left: 32px;
    width: 400px; */
    margin: 5px 15px;
}
.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #003399;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 0.9s linear infinite; /* Safari */
    animation: spin 0.9s linear infinite;
    margin: 0 auto;
    position: relative;
    top: -250px;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.phone-container {
    margin: 5px 15px;
}

@media (min-width: 1024px) {
    .phone-container {
        margin: 5px 32px;
    }
}
@media (min-width: 1024px) {
    .input-phone{
        width: 86% !important;
    }
}
