.main-content-container {
    max-width: 40%;
    margin-left: 58px;
}

.container-image {
    display: flex;
    justify-content: center;
}

.back-button{
    position: absolute;
    cursor: pointer;
}

@media (max-width: 576px) {
    .main-content-container {
        max-width: 100%;
        margin-left: 0;
    }
}

.main-form-container{
    width: fit-content;
    height: auto;
    background-color: #FFFF;
    box-sizing: border-box;
    box-shadow: 0px 23px 44px rgb(176 183 195 / 14%);
    border-radius: 8px;
    padding-top: 40px;
}

.send-info {
    font-weight: bold;
    /* font-size: 28px; */
    color: #000015;
    padding-bottom: 10px;
}